{% load static %}

<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>main page for hajj credit</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet' href="{% static "css/34b729901a37198f5d0414728.css" %}">

      <link rel="stylesheet" href="{% static "css/style.css" %}">

  
</head>

<body>

  <link href="https://fonts.googleapis.com/css?family=Quicksand:300" rel="stylesheet">

<div class="container">
  <div class="shape">
<div id="functionBasedPropVal">
  <div class="line">
    <div data-x="160" class="small square el"></div>
  </div>
  <div class="line">
    <div data-x="80" class="small square el"></div>
  </div>
  <div class="line">
    <div data-x="250" class="small square el"></div>
  </div>
  
</div>
  </div>
  <div class="text-logo">
  <h1 class="ml2">Hajj Credit</h1>
</div>
  </div>


<div id="unitlessValue">

{% if not log %}
<a href="{% url 'credit:form'%}"><button class="button button2 el">login</button></a>

{% else %}

<a href="{% url 'credit:logout'%}"><button class="button button2 el">logOut</button></a>
<a href="{% url 'credit:dashboard'%}"><button class="button button2 el">dashboard</button></a>


{% endif %}
  

</div>
  <script src="{% static "js/4032af61ca0478304ab7b31b7.js" %}"></script>

  

    <script  src="{% static "js/index.js" %}"></script>




</body>

</html>
